{% extends 'layout.html'%}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{legend}}</legend>
            <div class="form-group">
                {{ form.ssnid.label(class="form-control-label")}}
                
                    {{ form.ssnid(class="form-control form-control-lg" ,readonly=true ) }}
                
            </div>
            <div class="form-group">
                {{ form.cid.label(class="form-control-label") }}
                
                    {{ form.cid(class="form-control form-control-lg",readonly=true ) }}
                
            </div>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                
                    {{ form.name(class="form-control form-control-lg",readonly=true ) }}
                
            </div>
            <div class="form-group">
                {{ form.age.label(class="form-control-label") }}
                
                    {{ form.age(class="form-control form-control-lg",readonly=true ) }}
                
            </div>
            <div class="form-group">
                {{ form.address.label(class="form-control-label")  }}
                
                    {{ form.address(class="form-control form-control-lg",readonly=true ) }}
                
            </div>
            
        
        </fieldset>
        
        <div class="row">
            <div style="padding: 10px;" class="form-group">
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
            <div style="padding: 10px;" class="form-group">
               <button class="btn btn-outline-info">Cancel</button>
            </div>
        </div>
       
        
    </form>
</div>
<!--delet pop here-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_customer', post_id=1) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}