{%extends 'layout.html'%}
{%block content%}
 


    
        <div><h3>
            Patient Status
        </h3></div>
        <div id="patienttables" style="padding-bottom: 10px; display: block;">
            <table>
                <tr>
                <th>Patient Id</th>
                <th>Patient SSN Id</th>
                <th>Status</th>
                <th>Bed Type</th>
                <th>Date of admission</th>
                <th>Operations</th>
                <th>View Profile</th>
                </tr>
                {% for item in items%}
                    {%if not item.status=='discharged'%}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.ssnid}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.bed}}</td>
                        <td>{{item.doj}}</td>
                        <td><a href="/">refresh</a></td>
                        <td><a href="{{ url_for('profile_patient',post_id=item.id) }}">veiw profile</a></td>
                    </tr>
                    {%endif%}
                {%endfor%}
                
                
            </table>
            
        </div>

    
   


{%endblock content%}