{%extends 'layout.html'%}
{%block content%}
 
        <div style="display: inline-block;">
            <div><h3>
                Patient Billing
            </h3></div>
            <div id="patienttables" style="padding-bottom: 10px; display: block;">
                <table>
                    <tr>
                    <th>Patient Id</th>
                    <th>Patient SSN Id</th>
                    <th>Status</th>
                    <th>Bed Type</th>
                    <th>Date of admission</th>
                    <th>Operations</th>
                    <th>View Profile</th>
                    </tr>
                    
    
                        <tr>
                            <td>{{pat.id}}</td>
                            <td>{{pat.ssnid}}</td>
                            <td>{{pat.status}}</td>
                            <td>{{pat.bed}}</td>
                            <td>{{pat.doj}}</td>
                            <td><a href="/">refresh</a></td>
                            <td><a href="{{ url_for('profile_patient',post_id=pat.id) }}">veiw profile</a></td>
                        </tr>
                    
                    
                    
                </table>
                
            </div>
    
            <div style="margin-bottom: 15px;" class="row justtify-content-center">
                <h5>No. of days</h5><p style="margin-left: 15px;">{{days}}</p>
                <h5 style="margin-left: 15px;">Bill for room</h5><p style="margin-left: 15px;">Rs. {{btotal}}</p>
                
            </div>
    
            <div><h3>
                Pharmacy Charges
            </h3></div>
            <div id="patienttables" style="padding-bottom: 10px; display: block;">
                <table>
                    <tr>
                    <th>Medicine</th>
                    <th>Quanty</th>
                    <th>Rate</th>
                    <th>Amount</th>
                    </tr>
                    {% for med in medItems%}
                        
                            <tr>
                                <td>{{med.mName}}</td>
                                <td>{{med.qty}}</td>
                                <td>{{med.rate}}</td>
                                <td>{{med.amount}}</td>
                            </tr>
                       
                        
                    {%endfor%}
                    
                    
                </table>
                
            </div>
    
            <div style="margin-bottom: 15px;" class="row justtify-content-end">
               
                <h5>Bill for Pharmacy</h5>
                <p style="margin-left: 15px;margin-bottom: 5px;">Rs. {{mtotal}}</p>
                
            </div>
    
            <div><h3>
                Diagonastic Charges
            </h3></div>
            <div id="patienttables" style="padding-bottom: 10px; display: block;">
                <table>
                    <tr>
                    <th>Name of test</th>
                    <th>Amount</th>
                    </tr>
                    {% for diag in diagItems%}
                        
                            <tr>
                                <td>{{diag.dName}}</td>
                                <td>{{diag.amt}}</td>
                               
                            </tr>
                        
                        
                    {%endfor%}
                    
                    
                </table>
                
            </div>
        
          <div style="margin-bottom: 15px;" class="row justtify-content-end">
               
                <h5>Bill for Diagonastics</h5><p style="margin-left: 15px;">Rs. {{dtotal}}</p>
                
            </div>
            
            <div class="row justtify-content-end">
               
               <a href="{{ url_for('confirmbill',post_id=pat.id) }}"> <button class="btn" style="margin-left: 15px;margin-right: 15px;margin-bottom: 5px;" class="btn-info">Confirm</button></a>
                <h5 style="margin-left: 15px;margin-right: 15px;margin-bottom: 5px;">Grand Total</h5>
                <p style="margin-left: 15px;margin-right: 15px;margin-bottom: 5px;">Rs. {{gtotal}}</p>
                
            </div>
        </div>

{%endblock content%}