{%extends 'layout.html'%}
{%block content%}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Customer Information</legend>
            <div class="form-group">
                {{ form.ssnid.label(class="form-control-label")}}
                
                {{ form.ssnid(class="form-control form-control-lg", readonly=true) }}
                
            </div>



            <div class="form-group">
                {{ form.pid.label(class="form-control-label")}}
                
                {{ form.pid(class="form-control form-control-lg", readonly=true) }}
                
            </div>

            <div class="form-group">
                {{ form.name.label(class="form-control-label")  }}
                
                {{ form.name(class="form-control form-control-lg" ,readonly=true) }}
                
            </div>
            

            <div class="form-group">
                {{ form.age.label(class="form-control-label") }}
                
                {{ form.age(class="form-control form-control-lg", readonly=true) }}
                
            </div>
            <div class="form-group">
                {{ form.doj.label(class="form-control-label")}}
                
                {{ form.doj(class="form-control form-control-lg", readonly=true) }}
                
            </div>
            <div class="form-group">
                {{ form.dodc.label(class="form-control-label")}}
                
                {{ form.dodc(class="form-control form-control-lg", readonly=true) }}
                
            </div>
            <div class="form-group">
                {{ form.bed.label(class="form-control-label")}}
                
                {{ form.bed(class="form-control form-control-lg", disabled=true) }}
                
            </div>
            
            <div class="form-group">
                {{ form.address.label(class="form-control-label") }}
                
                {{ form.address(class="form-control form-control-lg", readonly=true) }}
                
            </div>
            
	
<div class="form-group">
                {{ form.city.label(class="form-control-label")}}
                
                {{ form.city(class="form-control form-control-lg", disabled=true) }}
                
            </div>


<div class="form-group">
                {{ form.state.label(class="form-control-label")}}
                
                {{ form.state(class="form-control form-control-lg", disabled=true) }}
                
            </div>



            
        </fieldset>
        
       
        
    </form>
</div>
{%endblock content%}