{% extends 'layout.html'%}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{legend}}</legend>
            <div class="form-group">
                {{ form.cid.label(class="form-control-label")}}
                {% if form.cid.errors %}
                    {{ form.cid(class="form-control form-control-lg is-invalid",readonly=true) }}
                    <div class="invalid-feedback">
                        {% for error in form.cid.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.cid(class="form-control form-control-lg" ,readonly=true ) }}
                {% endif %}
                    
                
            </div>
            <div class="form-group">
                {{ form.aid.label(class="form-control-label")}}
                
                    {{ form.aid(class="form-control form-control-lg" ,readonly=true ) }}
                
            </div>
            <div class="form-group">
                {{ form.acctype.label(class="form-control-label") }}
                {% if form.acctype.errors %}
                    {{ form.acctype(class="form-control form-control-lg is-invalid",disabled=false) }}
                    <div class="invalid-feedback">
                        {% for error in form.acctype.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.acctype(disabled=true ) }}
                {% endif %}
                    
                
            </div>
            <div class="form-group">
                {{ form.balance.label(class="form-control-label")}}
                
                    {{ form.balance(class="form-control form-control-lg" ,readonly=true ) }}
                
            </div>

            <div class="form-group">
                {{ label }}
                {% if form.deposit.errors %}
                    {{ form.deposit(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.deposit.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.deposit(class="form-control form-control-lg" ) }}
                {% endif %}
            </div>
            
        
        </fieldset>
        
        <div class="row">
            <div style="padding: 10px;" class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </div>
       
        
    </form>
</div>

{% endblock content %}