{%extends 'layout.html'%}
{%block content%}
 
        <div style="display: inline-block;">
            
            <div><h3>
                Issue new Medicine 
            </h3></div>

            <div>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.searchMed.label(class="form-control-label") }}
                            {% if form.searchMed.errors %}
                                {{ form.searchMed(class="form-control form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.searchMed.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.searchMed(class="form-control form-control") }}
                            {% endif %}
                        </div>
                        <div style="padding: 10px;" class="form-group">
                            {{ form.searchbtn(class="btn") }}
                        </div>
                        
                    </fieldset>
                </form>
                
            </div>

            <div id="patienttables" style="padding-bottom: 10px; display: block;">
                <table>
                    <tr>
                    <th>Medicine</th>
                    <th>Quanty Available</th>
                    <th>Rate</th>
                    
                    </tr>
                    {% for med in medMast%}
                        
                            <tr>
                                <td>{{med.mName}}</td>
                                <td>{{med.qty}}</td>
                                <td>{{med.rate}}</td>
                                
                            </tr>
                        
                        
                    {%endfor%}
                    
                    
                </table>
                
            </div>
            {%if qty=='enable'%}
            <div>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.quantity.label(class="form-control-label") }}
                            {% if form.quantity.errors %}
                                {{ form.quantity(class="form-control form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.quantity.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.quantity(class="form-control form-control") }}
                            {% endif %}
                        </div>
                        <div style="padding: 10px;" class="form-group">
                            {{ form.addMed(class="btn") }}
                        </div>
                        
                    </fieldset>
                </form>
            </div>
            {%endif%}
            
            
           
        </div>

{%endblock content%}