{%extends 'layout.html'%}
{%block content%}
 
        <div style="display: inline-block;">
            
            <div><h3>
                Issue new Medicine 
            </h3></div>

            <div>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.searchDiag.label(class="form-control-label") }}
                            {% if form.searchDiag.errors %}
                                {{ form.searchDiag(class="form-control form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.searchDiag.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.searchDiag(class="form-control form-control") }}
                            {% endif %}
                        </div>
                        <div style="padding: 10px;" class="form-group">
                            {{ form.searchbtn(class="btn") }}
                        </div>
                        
                    </fieldset>
                </form>
                
            </div>

            <div id="patienttables" style="padding-bottom: 10px; display: block;">
                <table>
                    <tr>
                    <th>Test Name</th>
                
                    <th>Rate</th>
                    
                    </tr>
                    {% for diag in diagMast%}
                        
                            <tr>
                                <td>{{diag.dName}}</td>
                                
                                <td>{{diag.amt}}</td>
                                
                            </tr>
                        
                        
                    {%endfor%}
                    
                    
                </table>
                
            </div>
            {%if qty=='enable'%}
            <div>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                       
                        <div style="padding: 10px;" class="form-group">
                            {{ form.addDiag(class="btn") }}
                        </div>
                        
                    </fieldset>
                </form>
            </div>
            {%endif%}
            
            
           
        </div>

{%endblock content%}