{% extends 'layout.html'%}
{% block content %}
<div class="row">
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{legend}}</legend>
                <div class="form-group">
                    {{ form.cid.label(class="form-control-label")+"*" }}
                    {% if form.cid.errors %}
                        {{ form.cid(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.cid.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.cid(class="form-control form-control-lg",readonly=true ) }}
                    {% endif %}
                </div>
    
                <div class="form-group">
                    {{ form.sourcetype.label(class="form-control-label")+"*"  }}
                    {% if form.sourcetype.errors %}
                        {{ form.sourcetype(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sourcetype.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sourcetype }}
                    {% endif %}
                </div>
    
                <div class="form-group">
                    {{ form.targettype.label(class="form-control-label")+"*"  }}
                    {% if form.targettype.errors %}
                        {{ form.targettype(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.targettype.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.targettype }}
                    {% endif %}
                </div>
               
    
                <div class="form-group">
                    {{ form.transferamt.label(class="form-control-label")+"*"  }}
                    {% if form.transferamt.errors %}
                        {{ form.transferamt(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.transferamt.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.transferamt(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
               
            </fieldset>
            <div><p style="color: red;">* all fields are requried</p></div>
            <div class="row">
                <div style="padding: 10px;" class="form-group">
                    {{ form.transfer(class="btn btn-outline-info") }}
                </div>
                
            </div>
           
            
        </form>
    </div>         <!--form ends here-->

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Balances</legend>
                <div class="form-group">
                    {{ form.srcBalbf.label(class="form-control-label")+"*" }}
                    {% if form.srcBalbf.errors %}
                        {{ form.srcBalbf(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.srcBalbf.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.srcBalbf(class="form-control form-control-lg",readonly=true ) }}
                    {% endif %}
                </div>

 <div class="form-group">
                    {{ form.srcBalaf.label(class="form-control-label")+"*" }}
                    {% if form.srcBalaf.errors %}
                        {{ form.srcBalaf(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.srcBalaf.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.srcBalaf(class="form-control form-control-lg",readonly=true ) }}
                    {% endif %}
                </div>

 <div class="form-group">
                    {{ form.trgBalbf.label(class="form-control-label")+"*" }}
                    {% if form.trgBalbf.errors %}
                        {{ form.trgBalbf(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.trgBalbf.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.trgBalbf(class="form-control form-control-lg",readonly=true ) }}
                    {% endif %}
                </div>

 <div class="form-group">
                    {{ form.trgBalaf.label(class="form-control-label")+"*" }}
                    {% if form.trgBalaf.errors %}
                        {{ form.trgBalaf(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.trgBalaf.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.trgBalaf(class="form-control form-control-lg",readonly=true ) }}
                    {% endif %}
                </div>
            </fieldset>
            
            
        </form>
    </div>
</div>


{% endblock content %}